/* FLEXBOX */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.soundbite {
  min-width: 50px;
  height: 250px;
  margin: /*0.3333px*/auto;
/*border: 2px solid gray;*/
}

.wrapper {
  text-align: center;
  padding: 10px;
}
img {
  margin: 10px;
}
  
